@font-face {
    font-family: 'CustomFont';
    src: url('@/assets/fonts/BoschSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif;
    background-image: url("./assets/images/blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}